.App {
  text-align: center;
  margin: 50px;
}

.okDrugs {
 background-color: greenyellow;
 color: black;
 padding: 50px;
}

.notOkDrugs {
  background-color: coral;
  color: black;
 padding: 50px;
 }

 .drugs {
   background-color: gray;
   color: white;
   padding: 30px;
 }

 .drug {
   background: violet;
 }

 .drugType {
  background-color: white;

 }
 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: greenyellow;
  text-align: center;
}