.App {
  text-align: center;
  background-color: lightgray;
  margin: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: greenyellow;
  text-align: center;
}