.App {
  text-align: center;
  margin: 50px;
}

.okDrugs {
 background-color: greenyellow;
}


.notOkDrugs {
  background-color: coral;
 }
 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: greenyellow;
  text-align: center;
}